@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.icon {
  height: 150px;
}

@media (max-width: 767px) {
  .mySwiper {
    height: 50vw; 
  }
  
  .swiper-slide img {
    width: full;
    height: full; 
  }
}